@model IEnumerable<ToDoApp.Models.TaskModel>

@{
    ViewData["Title"] = "Lista zadań";
}

<h1>Lista zadań</h1>

<p>
    <a asp-action="Create">Utwórz nowe zadanie</a>
</p>
<br /><br /><br />
<h3>Zadania w trakcie realizacji</h3>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Subject)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContentFile)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Task_Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th style="text-align: center; vertical-align: middle;">
                @Html.DisplayNameFor(model => model.Completed)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            if (item.Completed == false)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Subject)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Content)
                    </td>  
                    <td>
                        @Html.DisplayFor(modelItem => item.ContentFile)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Task_Date)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Location)
                    </td>
                    <td style="text-align: center; vertical-align: middle;">
                        @Html.DisplayFor(modelItem => item.Completed)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.ID">Edycja</a> |
                        <a asp-action="Details" asp-route-id="@item.ID">Szczegóły</a> |
                        <a asp-action="Delete" asp-route-id="@item.ID">Usuwanie</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
<br /><br /><br />
            <h3>Ukończone zadania</h3>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Subject)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContentFile)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Task_Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th style="text-align: center; vertical-align: middle;">
                @Html.DisplayNameFor(model => model.Completed)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            if (item.Completed)
            {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Subject)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <th>
                @Html.DisplayNameFor(model => model.ContentFile)
            </th>
            <td>
                @Html.DisplayFor(modelItem => item.Task_Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td style="text-align: center; vertical-align: middle;">
                @Html.DisplayFor(modelItem => item.Completed)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edycja</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Szczegóły</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Usuwanie</a>
            </td>
        </tr>
            }
        }
    </tbody>
</table>
